<IfModule mod_rewrite.c>
    RewriteEngine On

    # Настройка базового URL
    RewriteBase /

    # Перенаправление всех запросов к файлу index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>